<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainTitle</key>
	<string>十三陵</string>
	<key>mainDescription</key>
	<string></string>
	<key>subItems</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>1.png</string>
			<key>subTitle</key>
			<string>明十三陵介绍</string>
			<key>subDescription</key>
			<string>明十三陵坐落于天寿山麓。总面积一百二十余平方公里。距离北京约五十公里。明十三陵
本数据来源于百度地图，最终结果以百度地图数据为准。
十三陵地处东、西、北三面环山的小盆地之中，陵区周围群山环抱，中部为平原，陵前有小河曲折蜿蜒，山明水秀，景色宜人。十三座皇陵均依山而筑，分别建在东、西、北三面的山麓上，形成了体系完整、规模宏大、气势磅礴的陵寝建筑群。明代术士认为，这里是&quot;风水&quot;胜境，绝佳&quot;吉壤&quot;。因此被明朝选为营建皇陵的&quot;万年寿域&quot;。该陵园建于1409～1644年，距今已有300～600多年历史。陵区占地面积达40平方公里，是中国乃至世界现存规模最大、帝后陵寝最多的一处皇陵建筑群。明代时，于途中的沙河镇北，建有七孔石造&quot;朝宗桥&quot;。在镇东，则筑有壮丽的&quot;巩华城&quot;。该城原为嘉靖皇帝祭陵时中途休息的行宫，现仅存遗址。明十三陵是明朝迁都北京后13位皇帝陵墓的皇家陵寝的总称，依次建有长陵（成祖）、献陵（仁宗）、景陵（宣宗）、裕陵（英宗）、茂陵（宪宗）、泰陵（孝宗）、康陵（武宗）、永陵（世宗）、昭陵（穆宗）、定陵（神宗）、庆陵（光宗）、德陵（熹宗）、思陵（思宗），故称十三陵。景区已开放景点有长陵、定陵、昭陵、神路。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>2.png</string>
			<key>subTitle</key>
			<string>景区建设</string>
			<key>subDescription</key>
			<string>明十三陵是中国历代帝王陵寝建筑中保存得比较好的一处。中华人民共和国成立后，政府为了保护这一文物古迹，从解放初期就开始进行维修，并将十三陵作为全国重点文物加以保护。1957年，北京市政府公布十三陵为北京市第一批重点古建文物保护单位。1961年，十三陵被公布为全国重点文物保护单位。1982年，国务院公布八达岭-十三陵风景区为全国44个重点风景名胜保护区之一。1991年，十三陵被国家旅游局确定为“中国旅游胜地四十佳”之一。1992年，十三陵被北京旅游世界之最评选委员会评为“是世界上保存完整埋葬皇帝最多的墓葬群。”</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3.png</string>
			<key>subTitle</key>
			<string>景区特色</string>
			<key>subDescription</key>
			<string>十三陵是一个天然具有规格的山区，其山属太行余脉，西通居庸，北通黄花镇，南向昌平州，不仅是陵寝之屏障，实乃京师之北屏。太行山起泽州，蜿蜒绵亘北走千百里山脉不断，至居庸关，万峰矗立回翔盘曲而东，拔地而起为天寿山（原名黄土山）。山崇高正大，雄伟宽弘，主势强力。明末清初著名学者顾炎武曾写诗描述这里的优胜形势：“群山自南来，势，若蛟龙翔；东趾踞卢龙，西脊驰太行；后尻坐黄花（指黄花镇），前面临神京；中有万年宅，名曰康家庄；可容百万人，豁然开明堂。”这一优美的自然景观被封建统治者视为风水宝地。
明十三陵，既是一个统一的整体，各陵又自成一个独立的单位，陵墓规格大同小异。每座陵墓分别建于一座山前。陵与陵之间少至半公里，多至八公里。除思陵偏在西南一隅外，其余均成扇面形分列于长陵左右（见图）。在中国传统风水学说的指导下，十三陵从选址到规划设计，都十分注重陵寝建筑与大自然山川、水流和植被的和谐统一，追求形同&quot;天造地设&quot;的完美境界，用以体现&quot;天人合一&quot;的哲学观点。明十三陵作为中国古代帝陵的杰出代表，展示了中国传统文化的丰富内涵。
这种依山建陵的布局也曾受到外国专家的赞赏，如英国著名史家李约瑟说：皇陵在中国建筑形制上是一个重大的成就它整个图案的内容也许就是整个建筑部分与风景艺术相结合的最伟大的例子。他评价十三陵是“最大的杰作”。他的体验是“在门楼上可以欣赏到整个山谷的景色，在有机的平面上沉思其庄严的景象，其间所有的建筑，都和风景融汇在一起，一种人民的智慧由建筑师和建筑者的技巧很好地表达出来。”英国城市规划家爱德蒙培根也高度评价了明十三陵的艺术成就，他认为“建筑上最宏伟的关于‘动’的例子就是明代皇帝的陵墓。”他指出：依山而建的陵墓建筑群的布局“它们的气势是多么壮丽，整个山谷之内的体积都利用来作为纪念死去的君王。”他们形象生动地描绘了明陵建筑与自然景观的有机结合。
2003年明十三陵被列入《世界遗产目录》。世界遗产委员会评价：明清皇家陵寝依照风水理论，精心选址，将数量众多的建筑物巧妙地安置于地下。它是人类改变自然的产物，体现了传统的建筑和装饰思想，阐释了封建中国持续五千余年的世界观与权力观。
</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>4.png</string>
			<key>subTitle</key>
			<string>十三陵来历</string>
			<key>subDescription</key>
			<string>十三陵是明朝十三个皇帝的陵墓。明朝历经十六帝，为什么叫十三陵呢？这要追述一下明朝的历史。明朝开国皇帝朱元璋，建都于南京，死后葬于南京钟山之阳称“明孝陵”。第二帝朱允炆（建文帝）因其叔父朱棣以“靖难”（为皇帝解除危难之意）为名发兵打到南京，建文帝不知所终。有人说出家当了和尚，总之是下落不明（这在明朝历史上是一个悬案），所以没有陵墓。第七帝朱祁钰，因其兄英宗皇帝被瓦剌所俘，在太后和大臣的旨意下即了帝位。后英宗被放回，在心腹党羽的策划下，搞了一场“夺门之变”，英宗复辟，又做了皇帝。朱祁钰被害死，一说是朱祁钰得病而死，英宗不承认他是皇帝，将其在天寿山区域内修建的陵墓也给捣毁了。而以“王”的身份将他葬于北京西郊玉泉山。这样，明朝十六帝有两位葬在别处，一位下落不明，其余十三位都葬在天寿山，所以称“明十三陵”，建文帝最终是自焚还是从秘密隧道中逃走，至今还是个谜。</string>
		</dict>
	</array>
</dict>
</plist>
