<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainTitle</key>
	<string>中国国际贸易中心</string>
	<key>mainDescription</key>
	<string> </string>
	<key>subItems</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>0.jpg</string>
			<key>subTitle</key>
			<string>中国国际贸易中心</string>
			<key>subDescription</key>
			<string>中国国际贸易中心(以下简称&quot;国贸中心&quot;)是目前中国规模最大的综合性高档商务服务企业之一，国贸中心地处北京中央商务区的核心地段，占地12公顷，总建筑面积56万平方米，集办公、住宿、会议、展览、购物和娱乐等多功能于一体，是众多跨国公司和商社进驻北京的首选之地。
自开业以来，国贸中心已成功地举办了各种国内、国际性展览、博览会近400个，每年举行各种国际、国内会议、活动4700多场，其中中外部长级以上贵宾出席的高规格、高档次的政务、商务活动四、五百次。与此同时，国贸中心还接待了许多国家的国家元首、政府首脑、重要国际组织及其常设机构的负责人以及各国商业巨头和社会知名人士等。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>1.jpg</string>
			<key>subTitle</key>
			<string>近期展会——2011北京国际礼品、赠品及家用精品（年底）采购订货会 (2011.11.25-2011.11.27)</string>
			<key>subDescription</key>
			<string>礼品、工艺品：礼品精品、琉璃制品、银制品、锡制品、瓷制品、玻璃制品、水晶制品、漆器礼品、金属饰品、陶艺、竹木、树脂、仿生、玉石雕刻、手工艺品等。
 赠品、促销品：广告促销品、宣传赠品、商务赠品、精品打火机、钥匙扣、礼品笔、徽章、圣诞装饰品等。
电 子、玩 具：家用电子产品、电子万年历、MP3、U盘、成人益智玩具、毛绒玩具、塑胶玩具、电子玩具等。
 家 居  用 品：家用纺织礼品、家居装饰礼品、钟表、毛巾及浴室用品、厨房用品、旅游及运动用品、休闲用品、箱包手袋、皮具制品、妇婴用品等。
 纪 念 收藏品：邮票、钱币、磁卡、标牌等。
 文  具 用 品：精美挂历、台历、高档笔记本、高档礼品笔、学生用品、办公用品等。
 流 行  饰 品：银首饰、K金首饰、铂金首饰、琉璃首饰、珍珠首饰、琥珀首饰、翡翠首饰、发饰、胸针、美容用品和配饰等</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>2.png</string>
			<key>subTitle</key>
			<string>近期展会——2012北京国际创意礼品及工艺品展览会(2012北京礼品展)
(2012.3.2-2012.3.5)</string>
			<key>subDescription</key>
			<string>北京国际创意礼品及工艺品展览会经过2011年的全面升级，组委会不懈探索创新，国贸礼品展取得了丰硕的成果，参展商专业性强、素质高，参展品种繁多、新颖奇特，展会还吸引了台湾、香港、韩国、印度、泰国、巴基斯坦、斯里兰卡等国际礼品企业的展商，基本上代表了创意礼品市场的最高水平和最新趋势。
● 展品范围：
●新、奇、特 创意礼品●创意生活; 家居陈设艺术展区 ●低碳环保礼品  ●陶瓷、餐桌用品、●水晶、标牌、奖杯● 家庭用品、床上用品、厨房用品、家居装饰品 ● 玩具 ● 电子及电器 ● 包装、纸制品 ● 运动休闲、旅游用品、箱包皮具 ● 文具及文化用品，钱币及收藏品 ● 礼品、工艺品、促销广告类赠品</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3.jpg</string>
			<key>subTitle</key>
			<string>成功的展会——2011香港时尚生活展览会(2011.6.10-2011.6.13)</string>
			<key>subDescription</key>
			<string>2011香港时尚生活展览会于2011年6月10至13日假座北京中国国际贸易中心展览大厅盛大登场。近200家中外顶尖生产商及供货商将在展览会上各展所长，与来自中国及亚洲地区的观众分享最新成果。为期四天的展览会预料将吸引逾30,000业界人士到场参观交流。
    香港时尚生活展览会旨在帮助香港及国际商家了解内地市场状况、在庞大的内地消费市场中树立品牌形象、拓展商机，丰富内地商品市场，同时与商超连锁企业、家电连锁企业、批发企业、旅行社、商超渠道商、特色产品连锁企业等专业采购商，在展会现场形成贸易互动，逐步建立供应商、采购商、消费者一站链接式平台，真正做到为香港及国际商家扎实、细致地耕耘中国庞大的消费市场，必将对香港同内地间的经济、文化交流产生积极而又深远的影响，成为推动香港、内地交流的新的时尚亮点。
    本届香港时尚生活巡回展北京站展出规模达8000多平方米。汇集来自香港及世界各地的领先供货商、展商，展品均为时尚品牌产品，范围涵盖数码科技、首饰精品、时装饰品、创意家居等，参展品类和商品数目均突破上一届纪录。届时德国、意大利及香港中小企业促进协会及香港中华厂商联合会将组织庞大的参展团，展示最新产品，足见他们对本届展览会及中国市场充满信心。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>4.jpg</string>
			<key>subTitle</key>
			<string>中国国际贸易中心地址</string>
			<key>subDescription</key>
			<string>国贸中心地处北京东长安街延长线与东三环路交界处，毗邻使馆区，与天安门广场近在咫尺，距首都机场只有25分钟车程。国贸地处北京中央商务区的核心部位，周边的国贸立交桥四通八达，是首都北京东部的交通枢纽。地铁国贸站与各线地铁相通，多条公共汽车线路从门前通过，地理位置优越，交通十分快捷。</string>
		</dict>
	</array>
</dict>
</plist>
