<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>04030001</key>
	<dict>
		<key>Title</key>
		<string>红螺寺</string>
		<key>GuideMapTitle</key>
		<string>红螺寺地图</string>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>SubListTitle</key>
		<string>红螺寺景点</string>
		<key>SubList</key>
		<array>
			<dict>
				<key>Title</key>
				<string>紫藤寄松</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>银杏古树</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>御竹林</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>红螺山</string>
			</dict>
		</array>
		<key>InfoPages</key>
		<array>
			<dict>
				<key>Title</key>
				<string>开放时间</string>
				<key>Content</key>
				<string>1.html</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>门票价格</string>
				<key>Content</key>
				<string>2.html</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>交通路线</string>
				<key>Content</key>
				<string>3.html</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>住宿推荐</string>
				<key>Content</key>
				<string>4.html</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
