<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>04050001</key>
	<dict>
		<key>Title</key>
		<string>798艺术区</string>
		<key>GuideMapTitle</key>
		<string>导游图</string>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>SubListTitle</key>
		<string>区内导览</string>
		<key>SubList</key>
		<array>
			<dict>
				<key>Title</key>
				<string>798艺术中心</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>艺术空间——佩斯北京</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>画廊——中国当代画廊</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>时尚店铺——798创意店</string>
			</dict>
		</array>
		<key>InfoPages</key>
		<array>
			<dict>
				<key>Title</key>
				<string>开放时间</string>
				<key>Content</key>
				<string>1.html</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>服务设施</string>
				<key>Content</key>
				<string>2.html</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>位置交通</string>
				<key>Content</key>
				<string>3.html</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>游览须知</string>
				<key>Content</key>
				<string>4.html</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
