<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainTitle</key>
	<string>嘉德拍卖</string>
	<key>mainDescription</key>
	<string>中国内地最早的拍卖公司</string>
	<key>subItems</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>summary_0.jpg</string>
			<key>subTitle</key>
			<string>中国书画</string>
			<key>subDescription</key>
			<string>中国古代书画、中国近现代书画、中国当代书画1994年始至今，中国书画作为中国嘉德的重要拍卖业务，一直保持着国内此领域的领先地位。“中国近现代书画”成绩尤为突出，拍品一直保持着较高水平。1998年，随着收藏家对古代书画的兴趣日趋浓厚，中国嘉德开辟“中国古代书画”专场，精心征集清代以前流传有序的历代珍品，促进了国宝级作品的海外回流，以及民间稀世瑰宝的价值定位和提升。2005年，中国嘉德增设“中国当代书画”项目，在注重个人原创风格和艺术品味的同时，充分考虑美术界的专业评论及市场的反馈，在开发这片广阔的潜在市场同时，做出专业的判断和富有价值的前瞻引导。
　　1995年以来，中国嘉德先后为海内外著名藏家举办专场或系列专题拍卖，如“杨永德藏齐白石书画”、“傅抱石精品暨张氏藏中国书画”、“集珍—三家藏张大千、黄宾虹、齐白石书画”、“静观居藏近代九家珍品”、“静观居藏张大千、傅抱石精品”专场等都取得极大成功，赢得了海内外收藏家的广泛好评。近年来，全球中国书画交易中心已经移师北京。在中国嘉德的拍卖会上，各个时代名家书画精品的成交价屡创新高，收藏群体日渐庞大且日趋成熟，收藏品味不断提高。
</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>summary_1.jpg</string>
			<key>subTitle</key>
			<string>瓷器 工艺品</string>
			<key>subDescription</key>
			<string>瓷器、玉器、明清家具、竹木漆犀角器、佛教造像等 
　　中国嘉德自1994年秋季推出工艺品拍卖专场以来，业务发展迅速，拍品持续保持高档水准，首创多首创多场不同门类艺术品的专场拍卖，起到了引领拍卖市场走向的作用，同时众多拍品更创下中国及世界瓷器工艺品拍卖纪录。2003年，“俪松居长物——王世襄、袁荃猷珍藏中国艺术品”专场以100%的成交率创下了6301.35万元人民币的成交佳绩。2005年推出“锦绣绚丽巧天工——耕织堂藏中国丝织艺术品”，成为国际上首场中国丝织品专场拍卖，创下4437.84万元人民币的成交佳绩。2008年推出“盛世雅集——清代宫廷紫檀家具”专场，是世界首次宫廷紫檀家具专拍，全场13件拍品皆为清宫紫檀家具，展示了清代宫廷家具极高的艺术成就，总成交额达到8878.24万元人民币。近年来，中国嘉德瓷器工艺品部的业务水平不仅得到业内人士广泛肯定，也迈入了国际先进行列。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>summary_2.jpg</string>
			<key>subTitle</key>
			<string>中国油画 雕塑</string>
			<key>subDescription</key>
			<string>油画、雕塑、当代艺术、影像艺术等
　　油画雕塑是中国嘉德最早设立的拍卖业务项目之一。自1994年春季举行首场油画拍卖以来，无论是中国老一辈油画家的早年力作，还是当代艺术家的新锐作品，在中国嘉德都有优秀的拍卖成绩。中国油画的拍卖记录也被中国嘉德几度刷新。中国嘉德作为先行者，在纷繁的中国油画收藏市场中留下了成功开拓的足迹，并一如既往地开展新的探索与尝试。2006年秋季拍卖会，中国嘉德首创了“中国当代艺术二十年”专场拍卖会，以学术性、历史性、艺术性为准绳，赢得业内的广泛关注和认同。2007年5月，中国嘉德春季拍卖会上油画雕塑、当代艺术以及中国影像艺术三场拍卖会，创下了成交总额1.7亿元的佳绩。其中“中国影像艺术”专场，亦是国内首场以当代影像艺术作品为主体的拍卖会，取得了积极的市场反馈。
</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>summary_3.jpg</string>
			<key>subTitle</key>
			<string>珠宝 翡翠 钟表</string>
			<key>subDescription</key>
			<string>翡翠、钻石等各类珠宝、钟表
　　中国嘉德自1995年春季开始在中国大陆开创珠宝首饰拍卖，面向海内外广泛瑰集高品质、有特色的珠宝翡翠饰品。多年来，设计新颖、品质优异的珠宝翡翠深受收藏者的关注和喜爱，屡有成交佳绩。并且以科学技术鉴定为基础，珠宝翡翠蕴涵的现实价值和长期增值潜力，也受到广大收藏者的肯定。 2006年开始，珠宝、翡翠与钟表项目联手，期望合力打造全新平台，为收藏家提供更为周到、专业的服务。
</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>summary_4.jpg</string>
			<key>subTitle</key>
			<string>邮品 钱币</string>
			<key>subDescription</key>
			<string>邮品、钱币、青铜器等
　　邮品钱币部成立于1996年，发展至今，规模和实力均为业内翘楚，曾创多项中国及世界拍卖纪录。春秋两季的大型拍卖会已经成为国内乃至国际邮币收藏者聚首的乐园。此外，包含邮品、钱币、等类项在内一年四次的“通讯拍卖”，使众多爱好者在中低价位的藏品中找到了收藏的乐趣，为爱好者提供了更为广阔的收藏空间。
</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>summary_5.jpg</string>
			<key>subTitle</key>
			<string>古籍善本 碑帖法书</string>
			<key>subDescription</key>
			<string>初期书籍、历代典籍、碑帖、佛教典籍及印刷品等
　　1994年秋季，中国嘉德在中国大陆首创古籍善本专场拍卖。从始至今，多次创下世界纪录。众多沉寂千年的唐人写经、装帧精美的宋元秘本、制艺精湛的明清版画、书艺上乘的名人尺牍都曾在中国嘉德寻得新的归宿。
　　多年来，中国嘉德积极配合中国政府，促成了包括“翁氏藏书”、“朱熹春雨帖”、“出师颂”、“钱镜塘藏明代名人尺牍”和“陈澄中旧藏”等国宝级古籍善本入藏中国国家博物馆、中国国家图书馆、上海博物馆等国家级文博机构，赢得社会各界的广泛赞誉。
</string>
		</dict>
	</array>
</dict>
</plist>
