<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>04020001</key>
	<dict>
		<key>Title</key>
		<string>十三陵</string>
		<key>GuideMapTitle</key>
		<string>十三陵地图</string>
		<key>width</key>
		<integer>0</integer>
		<key>height</key>
		<integer>0</integer>
		<key>SubListTitle</key>
		<string>十三陵景点</string>
		<key>SubList</key>
		<array>
			<dict>
				<key>Title</key>
				<string>神路</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>长陵</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>定陵</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>昭陵</string>
			</dict>
		</array>
		<key>InfoPages</key>
		<array>
			<dict>
				<key>Title</key>
				<string>开放时间</string>
				<key>Content</key>
				<string>1.html</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>门票价格</string>
				<key>Content</key>
				<string>2.html</string>
			</dict>
			<dict>
				<key>Title</key>
				<string>交通路线</string>
				<key>Content</key>
				<string>3.html</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
