<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainTitle</key>
	<string>国家体育场.鸟巢</string>
	<key>mainDescription</key>
	<string>奥林匹克公园明星</string>
	<key>subItems</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>niaochao_0.png</string>
			<key>subTitle</key>
			<string>场馆概况</string>
			<key>subDescription</key>
			<string> 国家体育场座落在由地面缓缓坡起的基座平台上，观众可由奥林匹克公园沿基座平台到达体育场。基座北侧为下沉式的热身场地，通过运动员通道与主场内的比赛场地连通。国家体育场复杂的附属部分和赛后商业等安排在升起的地面之下，使不同人群进入的方式更加合理，同时保持了主体建筑外观的清晰、纯粹和完整。体育场基座以上部分共七层，设有观众服务设施、媒体工作区和贵宾接待区等。基座以下部分共三层，设有零层内部环路、停车场和大量功能用房。碗型看台分为上、中、下三层，并在中、下层看台之间设置包厢及其座位区。　　北京奥运会期间，国家体育场作为主会场，承担了开闭幕式、田径赛事和足球决赛。精彩绝伦的开闭幕式表演与鸟巢大气宏伟的结构相得益彰，令世人惊艳。博尔特、伊辛巴耶娃等一批优秀运动员纷纷在鸟巢实现了创纪录表演。　　国家体育场主体是由一系列钢桁架围绕碗状座席区编织而成的“鸟巢”外形，空间结构新颖，建筑和结构浑然一体，独特、美观，具有很强的震撼力和视觉冲击力，充分体现了自然和谐之美。　　国家体育场钢结构是目前世界上跨度最大的体育建筑之一，其屋顶维护结构为钢结构上覆盖双层膜结构，即固定于钢结构上弦之间的透明的上层ETFE膜，和固定于钢结构下弦之下及内环侧壁的半透明的下层PTFE声学吊顶。　　国家体育场在建设中采用了先进的节能设计和环保措施，比如良好的自然通风和自然采光、雨水的全面回收、可再生地热能源的利用、太阳能光伏发电技术的应用等。在“鸟巢”中足球场地的下面是312口地源热泵系统井。它通过地埋换热管，冬季吸收土壤中蕴含的热量为“鸟巢”供热；夏季吸收土壤中存贮的冷量向“鸟巢”供冷，能节省不少电力资源。在“鸟巢”的顶部装有专门的雨水回收系统，被收集起来的雨水最终变成了可以用来绿化、冲厕、消防甚至是冲洗跑道的回收水。诸多先进的绿色环保举措使国家体育场成为了名副其实的大型“绿色建筑”。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>niaochao_1.png</string>
			<key>subTitle</key>
			<string>奥运风采</string>
			<key>subDescription</key>
			<string> 第29届夏季奥运会开幕式美仑美奂的演出、运动员们在场上的奋力拼搏都给世人留下了极其深刻的印象。北京奥运会在奥林匹克运动史上留下了辉煌的一页。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>niaochao_2.png</string>
			<key>subTitle</key>
			<string>奥运会场</string>
			<key>subDescription</key>
			<string>在鸟巢举办的奥运会比赛项目是田径和男子足球。田径比赛共产生47块金牌，是奥运会金牌第一大项，此次在鸟巢举行的田径比赛有约2000名运动员参加，在10天的北京奥运会田径比赛中，共刷新了五项世界纪录，这一数字大大超过了四年前的雅典奥运会，以及八年前的悉尼奥运会。男子足球产生的一枚金牌由传统足球强国阿根廷摘走。鸟巢中最耀眼的田径明星当属牙买加飞人博尔特，他是“鸟巢”中当之无愧的王中王，他打破了男子100米、200米和4X100米三项世界纪录，此壮举前无古人，创造了百年奥运的历史。残奥会赛场上，运动员们挑战自我，创造了一个又一个奇迹。鸟巢共产生473块金牌，有100多项世界纪录被打破。中国健儿们获得了89块金牌，  211块奖牌的佳绩，在金牌榜和奖牌榜上都双双遥遥领先。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>niaochao_3.png</string>
			<key>subTitle</key>
			<string>体育场主要特性指标</string>
			<key>subDescription</key>
			<string>	长度：333米	宽度：296米	高度（地上）：69.21米	高度（地下）：7.10米	基座面积：69548平方米	长轴：北—南	看台层：3层—下层、中层和上层	层数：地上7层，另有一夹层（零层夹层）及一设备层（七层）；地下1层，另有一夹层（地下一层夹层）	核心筒：12个—每个核心筒包括楼梯1个，服务电梯1部，以及设备管井	立面楼梯：12对	中层集散大厅楼梯：12个，连接一层和二层	自动扶梯：西侧2组，连接零层至四层；东侧2组，连接一层至四层	赛事期间的电梯：4部贵宾电梯；6部普通/伤残观众电梯；16部服务电梯；	服务通道：零层环路，主入口在东南部，出口在东北部。</string>
		</dict>
	</array>
</dict>
</plist>
