<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainTitle</key>
	<string>全聚德</string>
	<key>mainDescription</key>
	<string>品味地道京城美食</string>
	<key>subItems</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>quanjuede_0.png</string>
			<key>subTitle</key>
			<string>全聚德介绍</string>
			<key>subDescription</key>
			<string>中华著名老字号-- &quot;全聚德&quot;,创建于1864年（清朝同治三年），历经几代全聚德人的创业拼搏获得了长足发展。1999年1月，&quot;全聚德&quot;被国家工商总局认定为&quot;驰名商标&quot;，是我国第一例服务类中国驰名商标。


&quot;不到万里长城非好汉，不吃全聚德烤鸭真遗憾！&quot;在百余年里，全聚德菜品经过不断创新发展，形成了以独具特色的全聚德烤鸭为龙头，集&quot;全鸭席&quot;和400多道特色菜品于一体的全聚德菜系，备受各国元首、政府官员、社会各界人士及国内外游客喜爱，被誉为&quot;中华第一吃&quot;。敬爱的周恩来总理曾多次把全聚德&quot;全鸭席&quot;选为国宴。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>quanjuede_1.png</string>
			<key>subTitle</key>
			<string>品牌由来</string>
			<key>subDescription</key>
			<string>全聚德创始人是杨全仁。他初到北京时在前门外肉市街做生鸡鸭买卖。杨全仁对贩鸭之道揣摩得精细明白，生意越做越红火。他平日省吃俭用，积攒的钱如滚雪球一般越滚越多。杨全仁每天到肉市上摆摊售卖鸡鸭，都要经过一间名叫“德聚全”的干果铺。这间铺子招牌虽然醒目，但生意却江河日下。到了同治三年（1864年）生意一蹶不振，濒临倒闭。精明的杨全仁抓住这个机会，拿出他多年的积蓄，买下了“德聚全”的店铺。 
　　有了自己的铺子，该起个什么字号呢？杨全仁便请来一位风水先生商议。这位风水先生围着店铺转了两圈，突然站定，捻着胡子说：“啊呀，这真是一块风水宝地啊！您看这店铺两边的两条小胡同，就像两根轿杆儿，将来盖起一座楼房，便如同一顶八抬大轿，前程不可限量！”风水先生眼珠一转，又说：“不过，以前这间店铺甚为倒运，晦气难除。除非将其‘德聚全’的旧字号倒过来，即称‘全聚德’，方可冲其霉运，踏上坦途。” 风水先生一席话，说得杨全仁眉开眼笑。“全聚德”这个名称正和他的心意，一来他的名字中占有一个“全”字，二来“聚德”就是聚拢德行，可以标榜自己做买卖讲德行。于是他将店的名号定为“全聚德”。接着他又请来一位对书法颇有造诣的秀才--钱子龙，书写了“全聚德”三个大字，制成金字匾额挂在门楣之上。那字写得苍劲有力，浑厚醒目，为小店增色不少。 
　　在杨全仁的精心经营下，全聚德的生意蒸蒸日上。杨全仁精明能干，他深知要想生意兴隆，就得靠好厨师、好堂头、好掌柜。他时常到各类烤鸭铺子里去转悠，探查烤鸭的秘密，寻访烤鸭的高手。当他得知专为宫廷做御膳挂炉烤鸭的金华馆内有一位姓孙的老师傅，烤鸭技术十分高超，就千方百计与其交朋友，经常一起饮酒下棋，相互间的关系越来越密切。孙老师傅终于被杨全仁说动，在重金礼聘下来到了全聚德。 
　　全聚德聘请了孙老师傅，等于掌握了清宫挂炉烤鸭的全部技术。孙老师傅把原来的烤炉改为炉身高大、炉膛深广、一炉可烤十几只鸭的挂炉，还可以一面烤、一面向里面续鸭。经他烤出的鸭子外形美观，丰盈饱满，颜色鲜艳，色呈枣红，皮脆肉嫩，鲜美酥香，肥而不腻，瘦而不柴，为全聚德烤鸭赢得了“京师美馔，莫妙于鸭”的美誉。 
　　全聚德能够成为有名的大饭馆，首要原因是选料实在，厨工手艺精，操作认真；店伙招待顾客热情。烤鸭是全聚德的主要经营品种，从选鸭、填喂、宰杀，到烧烤，都是一丝不苟的。
</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>quanjuede_2.png</string>
			<key>subTitle</key>
			<string>菜品文化</string>
			<key>subDescription</key>
			<string>“全聚德”不仅以烤鸭而饮誉海内外，而且以全鸭席、特色菜、创新菜、名人宴为代表的系列精品菜肴形成了全聚德海纳百川的菜品文化。 
　　在全聚德厨师的手中，鸭子全身都变成了宝贝。历代厨师在制作烤鸭的同时，利用鸭膀、鸭掌、鸭心、鸭肝、鸭胗等原料，精心创制了各种美味的冷热菜肴。经过多年的积累，形成了以芥茉鸭掌火燎鸭心、烩鸭四宝、芙蓉梅花鸭舌、鸭包鱼翅等为代表的&quot;全聚德全鸭席&quot;。颇有意思的是有一次王光英副委员长在全聚德用餐时说：“‘全鸭席’各种鸭原料都全了，唯独缺少一种菜。”大家都想不出是什么，他哈哈一笑：“是鸭蛋啊！”大家恍然大悟。经过细心研究，全聚德的菜单中又多了一道新菜--“水晶鸭宝”，添补了“全鸭席” 的空白。 
　　为了保证全聚德菜品质量和风味的统一，达到实质性的连锁，探索中餐标准化和规模化的实现形式，集团组成了专门的技术攻关小组，由具有丰富实践经验的老技师和具有现代科技知识的技术人员相结合，进行全聚德传统特色菜品的量化定标工作。通过反复试验和精密测试，对菜品的主料、辅料、调料进行了具体到毫克的量化，制定了精确的投料标准，已经完成了含烤鸭、冷菜、热菜、面点在内的49个传统特色菜的标准，为实现全聚德传统特色菜品的质量统一、品质一致提供了保证。对菜式繁多的中餐进行量化，在中餐发展史上具有“吃螃蟹”的首创意义。
</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>quanjuede_3.png</string>
			<key>subTitle</key>
			<string>营养价值</string>
			<key>subDescription</key>
			<string>研究测定结果表明全聚德烤鸭中含有蛋白质、脂肪、水分、维生素B1、B2、钙、磷、铁等多种营养素，而且含量非常丰富。通过烤制除脂肪和水分有少量的流失以外，其它的营养素基本上没有损失，蛋白质的百分含量还相对有所增加。

    全聚德烤鸭中的蛋白质含量约为16～25％，远远高于畜肉。
全聚德烤鸭中几乎含有人体需要的全部氨基酸，而且两种呈鲜味的氨基酸含量高于其它肉类，所以全聚德烤鸭的味道特别鲜美。 全聚德烤鸭的脂肪含量适中，约为7.5％，比畜肉低，并较均匀地分布于全身组织中。其中的必需脂肪酸含量较高，且主要是不饱和脂肪酸和低碳饱和脂肪酸，因此熔点低，约在33～40之间，利于人体的消化吸收。
全聚德烤鸭维生素含量比较多，100克可食烤鸭肉中含有B族维生素约10毫克，维生素E90～400微克，均比其它肉类高。

    全聚德烤鸭中含有含有多种矿物质，如：钙、磷、铁、钾、钠、镁、锰、锌、铜、碘等。

    鸭肉本身糖类含量较低，但由于在一般情况下，烤鸭与荷叶饼、甜面酱一起配着吃，面饼面酱中都含有丰富的糖类物质，从而弥补了北京烤鸭营养价值上的这一方面的缺陷。人们吃烤鸭时，常常佐以大葱、大蒜、黄瓜条，这些食品与烤鸭共同使用，不仅可以起到平衡酸碱的作用，而且这些食品中的维生素C及膳食纤维具有使胆固醇下降和纤维蛋白质溶解活性升高，帮助消化的功能。它们提高了烤鸭的营养价值，增强了烤鸭的风味特色，使其肥而不腻，久吃不厌。说明了烤鸭在食用方法上的科学性。


</string>
		</dict>
	</array>
</dict>
</plist>
