<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainTitle</key>
	<string>城市相册</string>
	<key>mainDescription</key>
	<string>北京城市相册</string>
	<key>subItems</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>1.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>2.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>4.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>5.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>6.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>7.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>8.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>9.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>10.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>11.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>12.jpg</string>
			<key>subTitle</key>
			<string>北京相册</string>
			<key>subDescription</key>
			<string>一个适合漂流的城市，穿越的城市，在这里，你什么都可以体会到。</string>
		</dict>
	</array>
</dict>
</plist>
