<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainTitle</key>
	<string>王府井百货大楼</string>
	<key>mainDescription</key>
	<string>享誉中外的新中国第一店</string>
	<key>subItems</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>0.jpg</string>
			<key>subTitle</key>
			<string>简介</string>
			<key>subDescription</key>
			<string>北京王府井百货（集团）股份有限公司，简称“王府井百货”，前身是享誉中外的新中国第一店-----北京市百货大楼，创立于1955年。1991年组建企业集团，成为北京市属计划单列企业。1993年改组股份制，1994年完成社会公募后公司股票在上海证券交易所挂牌上市。1996年起开始在全国范围内推进百货业连锁规模发展，目前在全国12个城市开业运营17家大型百货商场。王府井百货大楼包括：北京市百货大楼、东安市场、长安商场、双安商场、广州王府井、武汉王府井、成都王府井、包头王府井1号店(昆都仑区店)、包头王府井2号店（青山区店）、重庆王府井1号店（渝中区解放碑店）、重庆王府井2号店（沙坪坝区店）、南宁王府井、长沙王府井、呼和浩特王府井、洛阳王府井、西宁王府井、乌鲁木齐王府井、太原王府井。即将开业的门店包括：昆明王府井、北京大钟寺王府井、兰州王府井、南昌王府井等。公司2004年入选国家重点扶植的20家大型流通企业，成为市属唯一入选的流通企业。2007年入选沪深300指数样本股，成为沪深股市公认的代表性样本企业。王府井百货是目前国内专注于百货业态发展的最大零售集团。截止2007年末，公司销售收入106亿元，同比上升24.74%，企业资产总值65.02亿元，净资产值30.77亿元。公司主要资产和业务集中在百货业态上。根据中国经济和零售业发展的趋势，王府井百货将加快产业和资本资源的整合，进一步在延展品牌、拓展地域、丰富业态模式、培育人才、创新企业机制等方面下功夫，以实现新的跨跃式的发展。今后，企业将迈出更加坚定、稳健的步伐，朝着新的发展目标不断奋进。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>1.jpg</string>
			<key>subTitle</key>
			<string>历史回顾</string>
			<key>subDescription</key>
			<string>　　1955年公司旗舰店——北京市百货大楼创立开业，被誉为&quot;新中国第一店&quot;，在国内外享誉极高。 　　1991年在北京市百货大楼基础上成立北京百货大楼集团。 　　1993年进行股份制改造，成立北京王府井百货（集团）股份有限公司。 　　1994年5月在上海证券交易所挂牌上市。 　　1996年报入选“上证30指数”样本股。 　　2004年入选国家商务部重点扶植的全国20家大型流通企业行列。 　　2007年入选“沪深300指数”样本股。 辉煌和荣耀已属于昨天，未来又将是一段新的航程。新的起点、新的目标、新的希望，心在远方，梦想为我们指引方向。脚下的路，等待着强者不息的脚步。远方的天空，期待着雄鹰不屈的翱翔。“人文购物、人性服务”将是王府井百货永远秉承的核心理念。这面民族商业的旗帜，将在晨曦的光辉里迎风飘展；这曲中国商业的强音，将在无声天籁中向世界发出嘹亮的歌音。</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>2.jpg</string>
			<key>subTitle</key>
			<string>历史背景</string>
			<key>subDescription</key>
			<string>1955年百货大楼开业，这是建国后全国第一座大型百货商场</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>3.jpg</string>
			<key>subTitle</key>
			<string>老照片</string>
			<key>subDescription</key>
			<string>百货大楼营业员向顾客介绍商品</string>
		</dict>
	</array>
</dict>
</plist>
